<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/user-info">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user-info">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics">Topics</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/user-info">Profile</a>
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/auth/logout" method="post" style="margin-bottom: 0;">
                    <button type="submit" class="btn btn-link nav-link" style="color: rgba(255,255,255,.5); padding: 0; border: none; background: none;">Logout</button>
                </form>            
            </li>
        </ul>
    </div>
</nav>
<br><br>