<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribed Topics</title>
</head>
<body>
    <h1>Subscribed Topics</h1>
    <ul>
        <% if (subscriptions && subscriptions.subbedTopics.length > 0) { %>
            <% subscriptions.subbedTopics.forEach(function(subscriptions) { %>
                <li><%= subbedTopics %></li>
            <% }); %>
        <% } else { %>
            <li>No subscribed topics found.</li>
        <% } %>
    </ul>
    <a href="/subscriptions" class="btn btn-secondary">Back to User Info</a>
</body>
</html>
