<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <!-- Include Bootstrap CSS directly from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome <%= userID %></h1>
        <p>Cookie set with userID: <%= userID %></p>
        <form action="/auth/logout" method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form><br>
        <a href="/topics" class="btn btn-info">View Topics</a><br><br>
        <a href="/listUserSubs" class="btn btn-info">View Subscriptions</a><br><br>



        <form action="/topics/create" method="post">
            <div class="form-group">
                <label for="topicTitle">New Topic Title:</label>
                <input type="text" class="form-control" id="topicTitle" name="title" required>
            </div>
            <div class="form-group">
                <label for="initialPost">Initial Post:</label>
                <textarea class="form-control" id="initialPost" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Create Topic and Post</button>
        </form>
    </div>
</body>
</html>
